
<p-panel class="ui-g-12" header="AppointmentDetail">
    
 <p-dataTable [value]="appointmentList" selectionMode="single" [(selection)]="selectedAppointment" (onRowSelect)="onRowSelect($event)" 
 [paginator]="true" [rows]="10" [responsive]="true"  [loading]="loading" loadingIcon="fa-refresh">
     <p-header>Appointments</p-header>
     <p-column field="guestName" header="GuestName" [editable]="true"[sortable]="true"></p-column>
     <p-column field="hostName" header="HostName" [sortable]="true"></p-column>
     <p-column field="startTime" header="Start Time" [sortable]="true"></p-column>
     <p-column field="endTime" header="End Time" [sortable]="true"></p-column>
     <p-column field="isCancelled" header="isCancelled" [sortable]="true"></p-column>
     <p-column field="isDone" header="isDone" [sortable]="true"></p-column>
     <p-column field="notes" header="Notes" [sortable]="true"></p-column>
     <p-column field="appointmentDate" header="appointmentDate" [sortable]="true"></p-column>
     <p-footer>
         <div class="ui-helper-clearfix" style="width:100%">
         <button type="button" pButton icon="fa-plus" style="float:left" (click)="addAppointment()" label="Add">
             </button>
         <button type="button" pButton icon="fa-plus" style="float:left" (click)="deleteAppointment()" label="Delete">
             </button>
         </div>
     </p-footer>
 </p-dataTable>
            
</p-panel>

 <p-panel  header="Appointment Details" [toggleable]="true" *ngIf="selectedAppointment">
     <div class="ui-g">
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="guestId">GuestId</label>
                  <p-dropdown class="ui-g-12 ui-md-8" optionLabel="firstName" [options]="guestList" [(ngModel)]="selectedGuest"></p-dropdown>
               
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="hostId">HostId</label>
                 <p-dropdown class="ui-g-12 ui-md-8" optionLabel="firstName" [options]="hostList"  [(ngModel)]="selectedHost"></p-dropdown>       
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="startTime">startTime</label>
                  <input class="ui-g-12 ui-md-8" pInputText id="startTime" [(ngModel)]="selectedAppointment.startTime" />
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="endTime">endTime</label>
                  <input class="ui-g-12 ui-md-8" pInputText id="endTime" [(ngModel)]="selectedAppointment.endTime" />
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="isCancelled">isCancelled</label>
                  <p-inputSwitch class="ui-g-12 ui-md-8" onLabel="True" offLabel="False" [(ngModel)]="selectedAppointment.isCancelled"></p-inputSwitch>
                  <!-- <input class="ui-g-12 ui-md-8" pInputText id="isCancelled" [(ngModel)]="selectedAppointment.isCancelled" /> -->
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="isDone">isDone</label>    
                  <p-inputSwitch class="ui-g-12 ui-md-8" onLabel="True" offLabel="False" [(ngModel)]="selectedAppointment.isDone"></p-inputSwitch>           
                  <!-- <input class="ui-g-12 ui-md-8" pInputText id="isDone" [(ngModel)]="selectedAppointment.isDone" /> -->
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="notes">Notes</label>
                  <input class="ui-g-12 ui-md-8" pInputText id="notes" [(ngModel)]="selectedAppointment.notes" />
              </div>
              <div class="ui-g-6">
                  <label class="ui-g-12 ui-md-4" for="appointmentDate">appointmentDate</label>
                  <p-calendar [(ngModel)]="selectedDate" [showIcon]="true" [disabledDates]="invalidDates"></p-calendar>
              </div>
            
          </div>
      <footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
             <button type="button" pButton icon="fa-floppy-o" (click)="saveAppointment()" label="Save"></button>
             <button type="button" pButton icon="fa-trash-o" (click)="cancelAppointment()" label="Cancel"></button>
              
          </div>
      </footer>

  </p-panel>
  