
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
<p-panel class="ui-g-12" header="EmployeeDetail">
       
    <p-dataTable [value]="employeeList" selectionMode="single" [(selection)]="selectedEmployee" (onRowSelect)="onRowSelect($event)" 
    [paginator]="true" [rows]="10" [responsive]="true"  [loading]="loading" loadingIcon="fa-refresh">
        <p-header>Employees</p-header>
        <p-column field="firstName" header="First Name" [editable]="true"[sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
        <p-column field="mobilePhone" header="Mobilephone" [sortable]="true"></p-column>
        <p-column field="emailAddress" header="EmailAddress" [sortable]="true"></p-column>
        <p-column field="officePhone" header="OfficePhone" [sortable]="true"></p-column>
        <p-column field="extension" header="Extension Phone" [sortable]="true"></p-column>
        <p-column field="notes" header="Notes" [sortable]="true"></p-column>
        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="addEmployee()" label="Add">
                </button>
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="deleteEmployee()" label="Delete">
                </button>
            </div>
        </p-footer>
    </p-dataTable>
               

                <!-- <p-dialog header="Employee Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="employee">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="name">Employee Name</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="employee.name" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="address">Address</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="address" [(ngModel)]="employee.address" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="phone">Telephone</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="phone" [(ngModel)]="employee.phone" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="rating">Rating</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="rating" [(ngModel)]="employee.rating" /></div>
                        </div>
                    </div>
                <footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                    </div>
                </footer>
                </p-dialog> -->
    
              <!-- End of DataTable -->    
            </p-panel>
  
    <p-panel  header="Employee Details" [toggleable]="true" *ngIf="selectedEmployee">
        <div class="ui-g">
                 <div class="ui-g-6">
                     <div class="ui-g-4"><label for="firstName">First Name</label></div>
                     <div class="ui-g-8"><input pInputText id="firstName" [(ngModel)]="selectedEmployee.firstName" /></div>
                 </div>
                 <div class="ui-g-6">
                     <div class="ui-g-4"><label for="lastName">Last Name</label></div>
                     <div class="ui-g-8"><input pInputText id="lastName" [(ngModel)]="selectedEmployee.lastName" /></div>
                 </div>
                 <div class="ui-g-6">
                     <div class="ui-g-4"><label for="mobilePhone">Mobilephone</label></div>
                     <div class="ui-g-8"><input pInputText id="mobilePhone" [(ngModel)]="selectedEmployee.mobilePhone" /></div>
                 </div>
                 <div class="ui-g-6">
                     <div class="ui-g-4"><label for="emailAddress">EmailAddress</label></div>
                     <div class="ui-g-8"><input pInputText id="emailAddress" [(ngModel)]="selectedEmployee.emailAddress" /></div>
                 </div>
                 <div class="ui-g-6">
                    <div class="ui-g-4"><label for="officePhone">OfficePhone</label></div>
                    <div class="ui-g-8"><input pInputText id="officePhone" [(ngModel)]="selectedEmployee.officePhone" /></div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-4"><label for="extension">Extension</label></div>
                    <div class="ui-g-8"><input pInputText id="extension" [(ngModel)]="selectedEmployee.extension" /></div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-4"><label for="notes">Notes</label></div>
                    <div class="ui-g-8"><input pInputText id="notes" [(ngModel)]="selectedEmployee.notes" /></div>
                </div>
             </div>
         <footer>
             <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-floppy-o" (click)="saveEmployee()" [disabled]="!userform.valid" label="Save"></button>
                <button type="button" pButton icon="fa-trash-o" (click)="cancelEmployee()" label="Cancel"></button>
                 
             </div>
         </footer>

     </p-panel>
    </form>